.section-banner {
   padding-top: 50px;
   display: flex;
   align-items: center;
   margin: 0 auto;
 }
 .line {
      height: 2px;
      width: 100%;
      background-color: #141456; /* Set the line color */
 }
.my-description{
   position: relative;
   height: 100%; /* Adjust height as needed */
   width: 100%; /* Adjust width as needed */
   background-color:rgb(249, 243, 243);
   border-radius:10px;
   margin: 0 auto;
   
 }
 .centered-content{
   display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%
 }

 .centered-content p{
   text-align: center;
   padding: 10% 10% 5% 10%;
   text-align: justify;
   font-size: 15px;
   
 }

 .animated-image-up{
   width: 80px; /* Adjust the width as needed */
   height: 80px; /* Adjust the height as needed */
   transform: translate(-50%, -50%);
   position: absolute;
   animation: jumpAnimation 1s ease-in-out infinite alternate;
   top: 90%;
   right:0;

 }

 .animated-image-down{
   position: absolute;
   width: 80px; /* Adjust the width as needed */
   height: 80px; /* Adjust the height as needed */
   top: 10%;
   left: 5%;
   transform: translate(-50%, -50%);
   animation: jumpAnimation 1s ease-in-out infinite alternate;
 }

 
 
 @keyframes jumpAnimation {
   0% {
     transform: translate(-50%, -50%) translateY(0);
   }
   100% {
     transform: translate(-50%, -50%) translateY(-5px);
   }
 }



 @media screen and (max-width: 768px) {

   .centered-content p{
      
      padding: 10% 15% 10% 15%;
      
    }
    .section-banner{
      width: 100%;
      padding-left: 10px;
    }
 }

 @media screen and (max-width: 480px) {

   .centered-content p{
      padding: 10% 15% 10% 15%;
      font-size: 12px;
    }

    .animated-image-down{
      width:40px;
      height: 40px;
      top:5%
    }

    .animated-image-up{
      width: 40px;
      height: 40px;
      top:98%;
    }
 }