.about-section{
  padding-top: 100px;
  background-color: hsl(190, 39%, 70%);
  height: 100vh;
}

.about-container{
  width: 100%;
  height: 100%;
  padding-top: 30px;
  
}
.section-banner {
   display: flex;
   align-items: center;
   margin: 0 auto;
 }
 .line-div {
      width: 100%;
 }
 .line{
  height: 2px;
  width: 100%;
  background-color:  rgb(20, 25, 45);
  margin-left: 10px;
 }

 .picture {
  width: 350px;
  height: 400px;
  border:outset;
  border-width:5px;
  border-color: white;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.row{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col{
  height: 80%;
}
.about-content{
  font-family: "Roboto";
  color: rgb(20, 25, 45);
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  
}

.pagination-div{
  position: relative;
  top: 50px;
  left: 10px;
}
.welcome-message{
  font-family: Pacifico;
  
}
.image-col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-col{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pagination{
  size: lg;
}
.page-link {
  /* Add your custom styles for the pagination container */
  background-color: rgb(20, 25, 45);
  color: hsl(190, 39%, 70%);
  
}
.active>.page-link,.page-link.active{
  background-color: #ffbe0b;
  color:  rgb(20, 25, 45);
  border-color: #ffbe0b;
}

.div-line{
  height: 100%;
  width: 2px;
  background-color:  rgb(20, 25, 45);;
}

.pagination .page-link:hover {
  /* Add your custom styles for the page links on hover */
  background-color: #ffbe0b;
  color:  rgb(20, 25, 45);
}

 @media screen and (max-width: 768px) {

   .centered-content p{
      
      padding: 10% 15% 10% 15%;
      
    }
    .section-banner{
      width: 100%;
      padding-left: 10px;
    }
    .about-section{
      height: auto;
    }
    .col{
      height: auto;
    }
    .pagination-div{
      position: relative;
      top: 0;
      left: 20px;
    }
 }

 @media screen and (max-width: 480px) {

   .centered-content p{
      padding: 10% 15% 10% 15%;
      font-size: 12px;
    }

    .animated-image-down{
      width:40px;
      height: 40px;
      top:5%
    }

    .animated-image-up{
      width: 40px;
      height: 40px;
      top:98%;
    }
 }