
.header{
    
    width: 100%;
}

.custom-navbar{
    background-color: white;
    
}

.custom-nav{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(20, 20, 86);
    
}


  