.custom-container{
    margin-top: 50px;
    padding-top: 50px;
    background-color: #14192d;
    height: 100vh;
    
    display: flex;
    justify-content: center;
}
.row{
  width: 100%;
}
.col-width{
  width: 100%;
}

.intro-text{
  font-family: 'Roboto', sans-serif;
  color:  #6db1bf;
  font-weight: bolder;
  font-size: 48px;
  
}
.name{
  font-family: "Acme";
  color: #ffbe0b;
  background: linear-gradient(to right, #6db1bf, #ffbe0b);
  /* Replace #ff0000 and #00ff00 with the desired colors */
  /* You can adjust the gradient direction as needed */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
.social-icons{
  font-size: 3rem;
  color: #ffbe0b;
}
.social-icons:hover{
  animation: shake 0.4s ease-in-out;
}
.round{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}


.picture-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    filter: drop-shadow(10px 8px 6px #333);
    padding: 10px 10px 10px 10px;
    
  }

  .profile-picture:hover{
    transform: translateY(-20px);
  }

  .my-content {
    display: flex;
    text-align: center;
    justify-content: center;
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#141456;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -100px;
  }

  
  .my-section {
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) rotate(-5deg);
    }
    50% {
      transform: translateX(5px) rotate(5deg);
    }
    75% {
      transform: translateX(-5px) rotate(-5deg);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 800px) {

    .profile-picture {
      width: 250px; /* Adjust the width for smaller screens */
      height: 250px; /* Adjust the height for smaller screens */
      filter: drop-shadow(10px 8px 6px #333);
      
    }
    
    .my-section {
      width: 100%;
      margin: 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
    }
    


  }
  
  @media screen and (max-width: 480px) {
    .profile-picture {
      width: 200px; /* Adjust the width for even smaller screens */
      height: 200px; /* Adjust the height for even smaller screens */
      filter: drop-shadow(10px 8px 6px #333);
    }
    .custom-container{
      margin-top: 0;
    }
    .my-section {
      width: 100%;
      margin: 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
    }
    .intro-text{
      font-size: 25px;
    }
    .social-icons{
      font-size: 2rem;
    }
    
  }

 

 