.custom-container{
    padding-top: 80px;
    margin-top: 100px;
   
}

.profile-picture {
    width: 300px;
    height: 300px;
    filter: drop-shadow(10px 8px 6px #333);
    display:flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 768px) {

    .profile-picture {
      width: 250px; /* Adjust the width for smaller screens */
      height: 250px; /* Adjust the height for smaller screens */
      filter: drop-shadow(10px 8px 6px #333);
      
    }
    .my-section {
      width: 500px;
      margin: 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
    }
    .my-content{
      padding-top: 10px;
      padding-bottom: 10px;
    }


  }
  
  @media screen and (max-width: 480px) {
    .profile-picture {
      width: 150px; /* Adjust the width for even smaller screens */
      height: 150px; /* Adjust the height for even smaller screens */
      filter: drop-shadow(10px 8px 6px #333);
      padding-bottom: 20px;
     
    }
    .my-section {
      width: 500px;
      margin: 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
    }
  }

  .profile-picture:hover{
    transform: translateY(-5px);
  }

  .my-content {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(20, 20, 86);
    padding-bottom: 10px;
  }
  .my-section {
    width: 500px;
    margin: 0 auto;
  }