.rounded-section {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color:  rgb(20, 20, 86);
    padding: 10px;
    color: white;
    
    width:100%;
    height: 100px;
    
  }
  
  .count-card {
    flex: 1;
    text-align: center;
    height: 60px;
    
  }
  .vertical-line {
    width: 2px;
    height: 80px;
    background-color: #fff;
    margin: 0 10px; /* Adjust the spacing between count cards and the line */
  }
  
  .count-card h3 {
    font-size: 1.875rem;
    margin-top: 5px;
  }
  
  .count-card p {
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {

    .rounded-section {
       width: 100%;
      }
    .vertical-line{
        display: none;
    }
    .count-card p {
        font-size: 11px;
        font-weight:lighter;
        letter-spacing: 0.03cm;
        
      }

  }

  @media screen and (max-width: 480px) {
    .rounded-section {
        width: 100%;
       }
       .vertical-line{
        display: none;
    }
    .count-card h3 {
        font-size: 20px;
        
      }
    .count-card p {
        font-size: 10px;
        font-weight: lighter;
        letter-spacing: 0.04cm;
        
      }

  }
